name: Build Godot

on:
  workflow_dispatch:
    inputs:
      godot_version:
        description: 'Godot version/branch to build'
        required: false
        default: '4.5'
        type: string
      include_limboai:
        description: 'Include the LimboAI module'
        required: false
        default: false
        type: boolean
      limboai_version:
        description: 'LimboAI version/branch'
        required: false
        default: 'master'
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install Dependencies
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential mingw-w64 pkg-config libx11-dev libxcursor-dev libxinerama-dev libgl1-mesa-dev libglu1-mesa-dev libasound2-dev libpulse-dev libudev-dev libxi-dev libxrandr-dev libwayland-dev yasm
          python3 -m pip install --no-cache-dir scons

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14
        with:
          version: 4.0.22

      - name: Checkout Godot
        uses: actions/checkout@v6
        with:
          repository: godotengine/godot
          ref: ${{ inputs.godot_version }}
          path: godot

      - name: Checkout LimboAI
        if: inputs.include_limboai == 'true'
        uses: actions/checkout@v6
        with:
          repository: limboai/limboai
          ref: ${{ inputs.limboai_version }}
          path: godot/modules/limboai

      - name: Build Godot
        shell: bash
        working-directory: godot
        run: |
          set -ex
          
          # Build Arguments
          COMMON_BUILD_OPTS=("production=yes" "optimize=speed" "lto=full")


          COMMON_BUILD_OPTS+=("module_raycast_enabled=no")
          COMMON_BUILD_OPTS+=("module_gridmap_enabled=no")
          COMMON_BUILD_OPTS+=("module_basis_universal_enabled=no")
          COMMON_BUILD_OPTS+=("module_bmp_enabled=no")
          COMMON_BUILD_OPTS+=("module_camera_enabled=no")
          COMMON_BUILD_OPTS+=("module_csg_enabled=no")
          COMMON_BUILD_OPTS+=("module_hdr_enabled=no")

          COMMON_BUILD_OPTS+=("module_text_server_adv_enabled=no")
          COMMON_BUILD_OPTS+=("module_text_server_fb_enabled=yes")

          COMMON_BUILD_OPTS+=("module_multiplayer_enabled=no")
          COMMON_BUILD_OPTS+=("module_enet_enabled=no")
          COMMON_BUILD_OPTS+=("module_mbedtls_enabled=no")
          COMMON_BUILD_OPTS+=("module_jsonrpc_enabled=no")
          COMMON_BUILD_OPTS+=("module_webrtc_enabled=no")
          COMMON_BUILD_OPTS+=("module_websocket_enabled=no")

          COMMON_BUILD_OPTS+=("module_mobile_vr_enabled=no")
          COMMON_BUILD_OPTS+=("module_openxr_enabled=no")
          COMMON_BUILD_OPTS+=("module_webxr_enabled=no")
          
          # Editor - Linux
          scons "${COMMON_BUILD_OPTS[@]}" platform=linuxbsd ccflags=-march=x86-64-v3
          
          # Editor - Windows
          scons "${COMMON_BUILD_OPTS[@]}" platform=windows ccflags=-march=x86-64-v3
          
          # Templates
          COMMON_EXPORT_TEMPLATE_OPTS=("target=template_release")
          COMMON_EXPORT_TEMPLATE_OPTS+=("disable_3d=yes")
          COMMON_EXPORT_TEMPLATE_OPTS+=("disable_advanced_gui=yes")
          
          # Linux Template
          scons "${COMMON_BUILD_OPTS[@]}" "${COMMON_EXPORT_TEMPLATE_OPTS[@]}" platform=linuxbsd arch=x86_64 ccflags=-march=x86-64-v3
          
          # Windows Template
          scons "${COMMON_BUILD_OPTS[@]}" "${COMMON_EXPORT_TEMPLATE_OPTS[@]}" platform=windows arch=x86_64 ccflags=-march=x86-64-v3
          
          # Web Template
          scons "${COMMON_BUILD_OPTS[@]}" "${COMMON_EXPORT_TEMPLATE_OPTS[@]}" platform=web dlink_enabled=yes

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: godot-builds
          path: godot/bin/
