name: Build Godot

on:
  workflow_dispatch:
    inputs:
      godot_version:
        description: 'Godot version/branch to build'
        required: false
        default: 'master'
        type: string
      include_limboai:
        description: 'Include the LimboAI module'
        required: false
        default: false
        type: boolean
      limboai_version:
        description: 'LimboAI version/branch'
        required: false
        default: 'master'
        type: string

jobs:
  build-editor:
    name: Editor (${{ matrix.platform }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform: [linuxbsd, windows]
    steps:
      - uses: actions/checkout@v6

      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies
        with:
          platform: ${{ matrix.platform }}

      - name: Setup Godot Source
        uses: ./.github/actions/setup-source
        with:
          godot_version: ${{ inputs.godot_version }}
          include_limboai: ${{ inputs.include_limboai }}
          limboai_version: ${{ inputs.limboai_version }}

      - name: Build Editor
        shell: bash
        working-directory: godot
        run: |
          scons platform=${{ matrix.platform }} production=yes optimize=speed lto=full ccflags=-march=x86-64-v2

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: godot-editor-${{ matrix.platform }}
          path: godot/bin/
          overwrite: true
          compression-level: 9

  build-export-template:
    name: Template (${{ matrix.platform }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform: [linuxbsd, windows, web]
    steps:
      - uses: actions/checkout@v6

      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies
        with:
          platform: ${{ matrix.platform }}

      - name: Setup Godot Source
        uses: ./.github/actions/setup-source
        with:
          godot_version: ${{ inputs.godot_version }}
          include_limboai: ${{ inputs.include_limboai }}
          limboai_version: ${{ inputs.limboai_version }}
          platform: ${{ matrix.platform }}

      - name: Generate Random Encryption Key
        run: |
          KEY=$(openssl rand -hex 32)
          echo "SCRIPT_AES256_ENCRYPTION_KEY=$KEY" >> $GITHUB_ENV
          mkdir -p godot/bin
          echo "$KEY" > godot/bin/encryption-key.txt

      - name: Build Export Template
        shell: bash
        working-directory: godot
        run: |          
          BUILD_OPTS=("platform=${{ matrix.platform }}")
          # Turn on optimisations
          BUILD_OPTS+=("target=template_release")
          BUILD_OPTS+=("production=yes")
          BUILD_OPTS+=("optimize=speed")
          BUILD_OPTS+=("lto=full")
          
          # Reduce size by disabling features
          # https://docs.godotengine.org/en/latest/engine_details/development/compiling/optimizing_for_size.html
          BUILD_OPTS+=("module_text_server_adv_enabled=no")
          BUILD_OPTS+=("module_text_server_fb_enabled=yes")
          BUILD_OPTS+=("disable_advanced_gui=yes")
          BUILD_OPTS+=("disable_3d=yes")
          BUILD_OPTS+=("disable_physics_3d=yes")
          
          # Reduce size by disabling extra modules
          # https://docs.godotengine.org/en/latest/engine_details/development/compiling/optimizing_for_size.html#disabling-unwanted-modules
          BUILD_OPTS+=("module_astcenc_enabled=no")
          BUILD_OPTS+=("module_basis_universal_enabled=no")
          BUILD_OPTS+=("module_bcdec_enabled=no")
          BUILD_OPTS+=("module_bmp_enabled=no")
          BUILD_OPTS+=("module_camera_enabled=no")
          BUILD_OPTS+=("module_csg_enabled=no")
          BUILD_OPTS+=("module_dds_enabled=no")
          BUILD_OPTS+=("module_enet_enabled=no")
          BUILD_OPTS+=("module_etcpak_enabled=no")
          BUILD_OPTS+=("module_fbx_enabled=no")
          BUILD_OPTS+=("module_gltf_enabled=no")
          BUILD_OPTS+=("module_gridmap_enabled=no")
          BUILD_OPTS+=("module_hdr_enabled=no")
          BUILD_OPTS+=("module_interactive_music_enabled=no")
          BUILD_OPTS+=("module_jsonrpc_enabled=no")
          BUILD_OPTS+=("module_ktx_enabled=no")
          BUILD_OPTS+=("module_mbedtls_enabled=no")
          BUILD_OPTS+=("module_meshoptimizer_enabled=no")
          BUILD_OPTS+=("module_dr_mp3_enabled=no")
          BUILD_OPTS+=("module_mobile_vr_enabled=no")
          BUILD_OPTS+=("module_msdfgen_enabled=no")
          BUILD_OPTS+=("module_multiplayer_enabled=no")
          BUILD_OPTS+=("module_noise_enabled=no")
          BUILD_OPTS+=("module_navigation_2d_enabled=no")
          BUILD_OPTS+=("module_navigation_3d_enabled=no")
          BUILD_OPTS+=("module_ogg_enabled=no")
          BUILD_OPTS+=("module_openxr_enabled=no")
          BUILD_OPTS+=("module_raycast_enabled=no")
          BUILD_OPTS+=("module_regex_enabled=no")
          BUILD_OPTS+=("module_svg_enabled=no")
          BUILD_OPTS+=("module_tga_enabled=no")
          BUILD_OPTS+=("module_theora_enabled=no")
          BUILD_OPTS+=("module_tinyexr_enabled=no")
          BUILD_OPTS+=("module_upnp_enabled=no")
          BUILD_OPTS+=("module_vhacd_enabled=no")
          BUILD_OPTS+=("module_vorbis_enabled=no")
          BUILD_OPTS+=("module_webrtc_enabled=no")
          BUILD_OPTS+=("module_websocket_enabled=no")
          BUILD_OPTS+=("module_webxr_enabled=no")
          BUILD_OPTS+=("module_zip_enabled=no")

          if [[ "${{ matrix.platform }}" == "web" ]]; then
            BUILD_OPTS+=("dlink_enabled=yes")
          else
            BUILD_OPTS+=("arch=x86_64")
            BUILD_OPTS+=("ccflags=-march=x86-64-v2")
          fi
          
          scons "${BUILD_OPTS[@]}"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: godot-template-${{ matrix.platform }}
          path: godot/bin/
          overwrite: true
          compression-level: 9
